<%= form_for @genre do |f| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> stopped the genre from being saved: </h2>
      <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>