<%= form_for @movie do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> stopped the movie from being saved: </h2>
      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>

  <%= f.label :year %>
  <%= f.number_field :year %>
  <br>

  <%= f.label :synopsis %>
  <br>
  <%= f.text_area :synopsis %>
  <br>

  <%= f.label :genre %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  <br>

  Create a New Genre
  <%= f.fields_for :genre do |gen| %>
    <br>
    <%= gen.label :name %>
    <%= gen.text_field :name %>
  <% end %>
  
  <br><br>
  <%= f.submit %>
<% end %>