<h2>All Movies</h2>

<% if admin? %>
  <%= button_to "Create a New Movie", new_movie_path %> 
  <br>
<% end %>

<%= link_to "Sort Movies Oldest to Newest", movies_year_asc_path %> &emsp;&emsp; <%= link_to "Sort Movies Newest to Oldest", movies_year_desc_path %>
<br>

<% @movies.each do |movie| %>
  <h3><%= link_to movie.format, movie_reviews_path(movie) %></h3>
  <p><%= movie.average_rating %> Stars - <%= movie.genre.name %></p>
  <p><%= movie.synopsis %></p>
  <br>
<% end %>