<h2>All Movies</h2>

<% if admin? %>
  <h3><%= link_to "Create a New Movie", new_movie_path %></h3> 
<% end %>

<%= link_to "Sort Movies Oldest to Newest", movies_year_asc_path %> &emsp;&emsp; <%= link_to "Sort Movies Newest to Oldest", movies_year_desc_path %> &emsp;&emsp; <%= link_to "Sort Movies ABC", movies_abc_path %> &emsp;&emsp; <%= link_to "Sort Movies ZYX", movies_zyx_path %>
<br>
<%= form_tag %>
<br>

<% @movies.each do |movie| %>
  <h3><%= link_to movie.format, movie_reviews_path(movie) %></h3>
  <p><%= movie.average_rating %> Stars - <%= movie.genre.name %></p>
  <p><%= movie.synopsis %></p>
  <br>
<% end %>