<h1><%= link_to @movie.format, movie_path(@movie) %></h1>
<h3><%= link_to @movie.genre.name, genre_path(@movie.genre) %></h3>
<p><%= @movie.synopsis %></p>

<br>
<h2>Reviews:</h2>
<br>
<% @reviews.each do |review| %>
  <strong><%= review.user.username %></strong> <%= review.stars  %>
  <p><%= link_to review.content, review_path(review) %></p>
  <br>
<% end %>