<h1><%= link_to @movie.format, movie_reviews_path(@movie) %></h1>

<br><br>
<h2>Review:</h2>
<br>
<strong><%= @review.user.username %></strong> <%= @review.stars  %>
<p><%= @review.content %></p>

<% if logged_in? %>
  <%= button_to "Edit Review", edit_review_path(@review) %> &emsp;&emsp;&emsp; <%= button_to "Delete Review", review_path(@review), method :delete %>
<% end %>
