<!DOCTYPE html>
<html>
  <head>
    <title>MovieAppRailsProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if admin? %>
    <%= link_to "Genres", genres_path %> &emsp;&emsp; 
  <% end %>

  <% if logged_in? %>
    <%= link_to "Movies", movies_path %> &emsp;&emsp; <%= "Hello, #{current_user.username}!" %> &emsp;&emsp; <%= link_to "Log Out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Sign Up", signup_path %> &emsp;&emsp; <%= link_to "Log In", login_path %>
  <% end %>

  <br>
  <% flash.each do |type, message| %>
    <%= message %>
  <% end %>
  <br>
  <body>
    <%= yield %>
  </body>
</html>
